/* CSS Document */

h1 {color: #7FBCD2;}
h2 {color: #87BED2;}
h3 {color: #A5F1E9;}
h4 {color: #B2F3EC;}
h5 {color: #E1FFEE;}
h6 {color: #E3FFEF;}
body{
	background-color:#FFEBAD;
	color:#7FBCD2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.6em;
	margin: 0;
}

.box-1 {
	background-color: #000000;
	color: #FFFFFF;
}
.container {
	width: 80%;
	margin: auto;
}